<div id="edit_user">
  <h2>Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <span class="inp_label"><%= f.label :password, "New password" %></span><br />
      <% if @minimum_password_length %>
        <em>(<span class="inp_label"><%= @minimum_password_length %> characters minimum</span>)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <span class="inp_label"><%= f.label :password_confirmation, "Confirm new password" %></span><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password" %>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
