<%= form_for @user %>
  <label>First</label><br>
  <%= text_field_tag :first %><br>

  <label>Second</label><br>
  <%= text_field_tag :second %><br>

  <label>Third</label><br>
  <%= text_field_tag :third %><br>

  <label>Fourth</label><br>
  <%= text_field_tag :fourth %><br>

  <label>Fifth</label><br>
  <%= text_field_tag :fifth %><br>

  <%= submit_tag "Submit" %>
<% end %>
